In [1]:
import numpy as np
np.random.seed(12345)

draw=np.random.randn(1000)

In [4]:
import pandas as pd
bins=pd.qcut(draw,4)
bins

[(-0.684, -0.0101], (-0.0101, 0.63], (-0.684, -0.0101], (-0.684, -0.0101], (0.63, 3.928], ..., (-0.0101, 0.63], (-0.684, -0.0101], (-2.9499999999999997, -0.684], (-0.0101, 0.63], (0.63, 3.928]]
Length: 1000
Categories (4, interval[float64]): [(-2.9499999999999997, -0.684] < (-0.684, -0.0101] < (-0.0101, 0.63] < (0.63, 3.928]]

In [5]:
bins=pd.qcut(draw,4,labels=['Q1','Q2','Q3','Q4'])

In [6]:
bins.codes[:10]

array([1, 2, 1, 1, 3, 3, 2, 2, 3, 3], dtype=int8)

In [8]:
bins=pd.Series(bins,name='quartile')
bins.head()

0    Q2
1    Q3
2    Q2
3    Q2
4    Q4
Name: quartile, dtype: category
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

In [9]:
result=(pd.Series(draw).groupby(bins).agg(['count','min','max']))

In [10]:
result

          count       min       max
quartile
Q1          250 -2.949343 -0.685484
Q2          250 -0.683066 -0.010115
Q3          250 -0.010032  0.628894
Q4          250  0.634238  3.927528

In [11]:
reuslt=(pd.Series(draw).groupby(bins).agg(['count','min','max']).reset_index())

In [12]:
reuslt

  quartile  count       min       max
0       Q1    250 -2.949343 -0.685484
1       Q2    250 -0.683066 -0.010115
2       Q3    250 -0.010032  0.628894
3       Q4    250  0.634238  3.927528